[Unit]
Description=Niri Wayland Compositor + Noctalia Shell Session
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
Type=simple
Environment=XDG_CURRENT_DESKTOP=Niri
Environment=XDG_SESSION_TYPE=wayland
Environment=QT_QPA_PLATFORM=wayland
Environment=CLUTTER_BACKEND=wayland
Environment=GDK_BACKEND=wayland
ExecStart=/usr/bin/niri
ExecStartPost=/usr/bin/bash -c "sleep 2 && /usr/bin/noctalia-shell"
Restart=on-failure
RestartSec=1

[Install]
WantedBy=default.target
